.main-container {
    display: flex;
    height: 100vh;
}

.main-content {
    flex-grow: 1;
    background-color: #f8f9fa; /* Light background color for main content */
}

.sidebar-accordion .accordion-button {
    flex-direction: row-reverse; /* Positions the arrow on the left */
}

.sidebar-accordion .accordion-button::after {
    margin-right: 0.5rem;
    margin-left: 0;
    transform: rotate(270deg); /* Closed state: arrow points right */
    transition: transform 0.2s ease;
}

.sidebar-accordion .accordion-button:not(.collapsed)::after {
    transform: rotate(0deg); /* Open state: arrow points down */
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .sidebar-accordion {
        display: none; /* Hide the sidebar */
    }
}

.sidebar-col {
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 200px;
}

main {
  /* padding: 20px; */ /* Remove or comment out this line */
}
